<div class="valign-wrapper" style="height: 100%;">
  <div class="center-align" style="width: 100%;">
    <div class="preloader-wrapper big active">
      <div class="spinner-layer spinner-red">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div>
        <div class="gap-patch">
          <div class="circle"></div>
        </div>
        <div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>
    </div>
  </div>
</div>