<form id="config-form" class="ui form <%= 'error' if @board.errors.any? %>">
  <% if @board.errors.any? %>
      <div class="ui error message">
      <% @board.errors.full_messages.each do |error| %>
          <span class="error"><%= error %></span>
      <% end %>
      </div>
  <% end %>

  <div class="field">
    <label for="board_config_string">Config (YAML)</label>
    <textarea id="board_config_string" name="board[config_string]" class="materialize-textarea"><%= @board.config_string %></textarea>
  </div>
</form>
