<form id="config-form">
  <% if @board.errors.any? %>
      <% @board.errors.full_messages.each do |error| %>
          <span class="error"><%= error %></span>
      <% end %>
  <% end %>

  <div class="input-field">
    <textarea id="board_config_string" name="board[config_string]" class="materialize-textarea"><%= @board.config_string %></textarea>
    <label for="board_config_string">Config (YAML)</label>
  </div>
</form>
