<div class="{{ modalClass }}">
  <div class="modal-content">
    <h4>{{ title }}</h4>
    {{{ body }}}
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-ok modal-action modal-close waves-effect waves-green btn-flat">OK</a>
  </div>
</div>