<% breadcrumb :report, @board, :aging_wip, 'Agile Work In Progress' %>
<% content_for :title, "Aging WIP - #{@board.name}" %>

<h1>Aging Work In Progress</h1>

<%= render partial: 'partials/search_form' %>

<div id="aging-wip-chart">
<%= render partial: 'partials/chart', locals: {
    chart_id: generate_id,
    chart_type: 'Timeline',
    url: "#{board_api_path(@board)}/aging_wip.json"
} %>
</div>

