<% breadcrumb :deliveries, @board %>

<h3>Deliveries</h3>

<% @increments.each do |increment| %>
    <h5>
      <a href="<%= "#{reports_path(@board)}/deliveries/#{increment.key}" %>">
        <%= increment.key %>
      </a>
      &mdash;
      <%= increment.summary %>
    </h5>
<% end %>
