<% breadcrumb :projects, @board %>

<h3>Projects</h3>

<% @projects.each do |project| %>
    <h5>
      <a href="<%= "#{reports_path(@board)}/projects/#{project.key}" %>">
        <%= project.key %>
      </a>
      &mdash;
      <%= project.summary %>
    </h5>
<% end %>
