<% breadcrumb :report, @board, :query, 'Custom Query' %>
<% content_for :title, "Custom Query - #{@board.name}" %>

<h1>
  <% if @report_params.report_name.nil? %>
    Custom Report
  <% else %>
    <%= @report_params.report_name %>
  <% end %>
</h1>

<%= render partial: 'partials/vue_chart', locals: {
    chart_type: 'Table',
    chart_url: "#{board_api_path(@board)}/query.json",
    download_url: "#{board_api_path(@board)}/query.csv"
} %>
