<h1>Query Data</h1>

<%= render partial: 'partials/search_form', locals: { show_search_options: false } %>

<a id="download" href="#">Download</a>

<%= render partial: 'partials/chart', locals: {
  chart_id: generate_id,
  chart_type: 'Table',
  url: "#{board_api_path(@board)}/query.json",
  ready_handler: 'readyHandler'
} %>

<script>
  function readyHandler() {
    var $table = $(document).find('.google-visualization-table table');
    $table.addClass('ui very compact table');

    var csvLink = '<%= "#{board_api_path(@board)}/query.csv?query=" %>' + $('#query').val();
    $('#download').attr('href', csvLink);
  }
</script>

