<% breadcrumb :report, @board, :scatterplot, 'Scatterplot' %>
<% content_for :title, "Scatterplot - #{@board.name}" %>

<% chart_id = generate_id %>

<h3>Scatterplot</h3>

<script>
  function selectHandler() {
    var chart = _charts['<%= chart_id %>'];
    var selection = chart._gchart.getSelection()[0];
    // completed issues column
    if (selection.column == 1) {
      $('#spinner').show().html(render('spinner', { margin: 20 }));
      var key = chart._data.getValue(selection.row, 2);
      $('#selected-content').hide().load('<%= board_path(@board) %>/issues/' + key + '?fragment=true', function () {
        $(this).show();
        $('#spinner').hide();
      });
    }
  }
</script>

<%= render partial: 'partials/vue_chart', locals: {
    chart_type: 'ComboChart',
    chart_url: "#{board_api_path(@board)}/scatterplot.json",
    download_url: "#{board_api_path(@board)}/query.csv"
} %>

<div style="margin-top: 20px;">
  <div id="spinner"></div>
  <div id="selected-content"></div>
</div>