<% breadcrumb :report, @board, :throughput, 'Throughput' %>

<h3>Throughput</h3>

<% chart_id = generate_id %>

<%= render partial: 'partials/search_form', locals: { show_step_interval: true } %>

<%= render partial: 'partials/chart', locals: {
    chart_id: chart_id,
    chart_type: 'ComboChart',
    url: "#{board_api_path(@board)}/throughput.json"
} %>

