<% breadcrumb :report, @board, :timesheets, 'Timesheets' %>
<% content_for :title, "Timesheets - #{@board.name}" %>

<h3>Timesheets for <%= @board.name %></h3>

<%= render partial: 'partials/search_form' %>

<script>
  $(function() {
    fetchData();
  });

  function fetchData() {
    var url = buildComponentUrl('<%= board_components_path(@board) %>/timesheets');
    $('#list').empty();
    $('#list').load(url);
  }
</script>

<div id="list"></div>