<% breadcrumb :report, @board, :timesheets, 'Timesheets' %>

<h3>Quick Links</h3>

<table>
  <% @month_periods.each do |label, date_range| %>
    <tr>
      <td>
      <%= link_to label, timesheets_report_path(@board, date_range) %>
      </td>
    </tr>
  <% end %>
</table>

<h3>Issues for <%= @board.name %></h3>

<%= render partial: 'partials/cycle_time_form' %>

<script>
  $(function() {
    fetchData();
    $('input').change(fetchData);
    $('textarea').change(fetchData);
  })

  function fetchData() {
    var url = buildComponentUrl('<%= board_components_path(@board) %>/timesheets');
    $('#list').empty();
    $('#list').load(url);
  }
</script>

<div id="list"></div>