<div class="ui tiny menu">
    <span class="item">
      Jump to time period
    </span>

  <div class="item">
    <select class="ui dropdown" v-model="selectedMonthPeriod">
      <option disabled value="">Select Month</option>
      <option v-for="(option, index) in monthPeriodOptions"
              v-bind:value="index">
        {{ option.label }}
      </option>
    </select>
  </div>

  <div class="item">
    <select class="ui dropdown" v-model="selectedRelativePeriod">
      <option disabled value="">Select Relative Timeframe</option>
      <option v-for="option in relativePeriodOptions"
              v-bind:value="option.label">
        {{ option.label }}
      </option>
    </select>
  </div>

  <div class="item">
    <select class="ui dropdown" v-model="selectedTimesheetPeriod">
      <option disabled value="">Select Timesheet Period</option>
      <option v-for="option in timesheetPeriodOptions"
              v-bind:value="option.label">
        {{ option.label }}
      </option>
    </select>
  </div>

</div>
