<% chart_id = generate_id %>

<script>
  (function() {
    var chart = new ChartBuilder('<%= chart_id %>')
        .chartOpts({
          seriesType: 'scatter',
          interpolateNulls: true,
          series: {
            1: {
              type: 'line'
            }
          }
        })
        .url('<%= board_api_path(@board) %>/scatterplot.json')
        .chartType('ComboChart')
        .build();

    google.charts.setOnLoadCallback(chart.refresh);
    $('#ct-states input, #ct-states textarea').change(chart.refresh);
  })();
</script>

<div id="<%= chart_id %>" style="height: 300px;">
</div>
