<% object = @board || @domain %>

<form id="config-form" class="ui form <%= 'error' if object.errors.any? %>">
  <% if object.errors.any? %>
      <div class="ui error message">
        <% object.errors.full_messages.each do |error| %>
            <span class="error"><%= error %></span>
        <% end %>
      </div>
  <% end %>

  <% if readonly? %>
      <div class="ui info message">
        <p>Server started in readonly mode. Config is readonly.</p>
      </div>
  <% end %>

  <div class="field">
    <% if readonly? %>
        <%= form_input(object, :config_string, type: :textarea, readonly: true) %>
    <% else %>
        <%= form_input(object, :config_string, type: :textarea) %>
    <% end %>
  </div>
</form>
