<table class="ui very basic table issue-fields">
  <tr>
    <td>Started</td>
    <td><%= pretty_print_time(issue.started_time) %></td>
  </tr>
  <tr>
    <td>Completed</td>
    <td><%= pretty_print_time(issue.completed_time) %></td>
  </tr>
  <tr>
    <td>Cycle Time (Days)</td>
    <td><%= pretty_print_number(issue.cycle_time) %></td>
  </tr>
</table>


