<li>
  <div class="collapsible-header<%= ' active' if expand %>">Links</div>
  <div class="collapsible-body">
    <% if issue.links.any? %>
        <table class="issue-details">
          <% issue.links.each do |link| %>
              <tr>
                <th><%= link_type(link) %></th>
                <td>
                  <a class="right" href="<%= external_link_url(link, @domain) %>" target="_blank">
                    <i class="material-icons" style="margin: 0;">launch</i>
                  </a>
                  <%= link_summary(link, @board) %>
                </td>
              </tr>
          <% end %>
        </table>
    <% else %>
        <span>None</span>
    <% end %>
  </div>
</li>
