<% if issue.links.any? %>
    <table class="ui very basic table issue-fields">
      <% issue.links.each do |link| %>
          <tr>
            <td><%= link_type(link) %></td>
            <td>
              <a class="right floated" href="<%= external_link_url(link, @domain) %>" target="_blank">
                <i class="external alternate icon"></i>
              </a>
              <%= link_summary(link, @board) %>
            </td>
          </tr>
      <% end %>
    </table>
<% else %>
    <span>None</span>
<% end %>

