<li>
  <div class="collapsible-header<%= ' active' if expand %>">Filters</div>
  <div class="collapsible-body">
    <table class="issue-details">
      <tr>
        <th>Filters</th>
        <td>
          <% issue.filters.each do |filter| %>
              <div class="chip"><%= filter.name %></div>
          <% end %>
        </td>
      </tr>
      <tr>
        <th></th>
        <td>
          <form class="flag-outlier" action="<%= url_for(issue) %>/flag_outlier">
            <input type="checkbox" id="outlier" name="outlier" <%= issue.outlier? ? 'checked' : '' %> />
            <label for="outlier">Outlier</label>
          </form>
        </td>
      </tr>
    </table>
  </div>
</li>
