<h4>Help with query language</h4>
<div class="ui grid">
  <div class="eight wide column">
    <p><strong>Select by field:</strong>
      <br><span class="mono">key = 'ISSUE-101'</span>
      <br><span class="mono">issuetype = 'Story'</span>
      <br><span class="mono">Teams includes 'Android'</span>
      <br><span class="mono">has(completedTime)</span>
    </p>
    <p><strong>Date ranges:</strong>
      <br><span class="mono">completedTime >= date('2018-01-01)'</span>
      <br><span class="mono">startedTime >= today() - 14</span>
    </p>
    <p><strong>Applying filters:</strong>
      <br><span class="mono">filter('MyFilter')</span>
    </p>
    <p><strong>Set operations:</strong>
      <br><span class="mono">not filter('MyFilter')</span>
      <br><span class="mono">filter('MyFilter') and issuetype = 'Bug'</span>
    </p>
  </div>
  <div class="eight wide column">
    <p><strong>Filters for this board:</strong>
      <br><span class="mono"><%= @board.filters.map{ |filter| filter.name }.join(', ') %></span>
    </p>
    <p><strong>Issue types for this board:</strong>
      <br><span class="mono"><%= @board.issue_types.join(', ') %></span>
    </p>
  </div>
</div>