<div class="header">Help with query language</div>
<div class="ui grid">
  <div class="eight wide column">
    <p><strong>Select by field:</strong>
      <br><span class="mono">key = 'ISSUE-101'</span>
      <br><span class="mono">issuetype = 'Story'</span>
      <br><span class="mono">Teams includes 'Android'</span>
    </p>
    <p><strong>Set operations:</strong>
      <br><span class="mono">not filter = 'MyFilter'</span>
      <br><span class="mono">filter = 'MyFilter' and issuetype = 'Bug'</span>
      <br><span class="mono">not (filter = 'MyFilter' or issuetype = 'Bug')</span>
    </p>
    <p><strong>Date ranges (end-exclusive):</strong>
      <br><span class="mono">between ('2018-01-01', '2018-06-01')</span>
    </p>
    <p><strong>Applying filters:</strong>
      <br><span class="mono">filter = 'MyFilter'</span>
    </p>
  </div>
  <div class="eight wide column">
    <p><strong>Filters for this board:</strong>
      <br><span class="mono"><%= @board.filters.map{ |filter| filter.name }.join(', ') %></span>
    </p>
    <p><strong>Issue types for this board:</strong>
      <br><span class="mono"><%= @board.issue_types.join(', ') %></span>
    </p>
  </div>
</div>