<script>
  App.cable.subscriptions.create({
    channel: "<%= channel %>",
    id: <%= model_id %>
  }, {
    received: statusReceived
  });
</script>

<div id="sync-indicator" style="display: none;">
  <div class="ui divider"></div>
  <p>
    <span id="sync-status-title">Updating Board</span>
    &middot;
    <span class="grey-text" id="sync-status">Syncing issues</span>
  </p>
  <div class="ui tiny blue progress" id="indicator-determinate">
    <div class="bar"></div>
  </div>
  <div class="ui tiny blue active progress" id="indicator-indeterminate">
    <div class="bar"></div>
  </div>
</div>
