<div class="ui top attached block header">
  <%= @selection_header %>
</div>
<div class="ui bottom attached segment">
  <%= render partial: 'partials/issues_list', locals: { issues: @issues, show_dates: true } %>
</div>
