<div class="row">
  <div class="col s6">
    <h5>Overview</h5>
    <%= erb 'partials/table'.to_sym, locals: {table: issue.overview_table} %>
  </div>
  <div class="col s6">
    <h5>Transitions</h5>
    <%= erb 'partials/table'.to_sym, locals: {table: issue.transitions_table} %>
  </div>
</div>