<table class="striped">
  <thead>
    <% table.headers.each do |header_row| %>
        <tr>
          <% header_row.each do |h| %>
              <th><%= table_item(h) %></th>
          <% end %>
        </tr>
    <% end %>
  </thead>
  <% table.rows.each do |row| %>
      <tr>
        <% row.each do |s| %>
            <td><%= table_item(s) %></td>
        <% end %>
      </tr>
  <% end %>
</table>
