<table class="bordered issue-details">
  <thead>
    <tr>
      <th style="width: 45%;">Epic</th>
      <th style="width: 45%;">Issues</th>
      <th style="width: 10%;">Days</th>
    </tr>
  </thead>
  <% issues_by_epic.each do |epic, issues| %>
      <% issues.each_with_index do |issue, index| %>
          <tr>
            <% if index == 0 %>
                <td rowspan="<%= issues.length %>">
                  <%= epic.nil? ? 'None' : epic.display_name %>
                </td>
            <% end %>
            <td>
              <%= issue.display_name %>
            </td>
            <td class="right-align">
              <%= pretty_print_number issue.duration_in_range %>
            </td>
          </tr>
      <% end %>
  <% end %>
</table>