<table class="striped issue-details">
  <thead>
    <tr>
      <th style="width: 50%;">Epic</th>
      <th style="width: 50%;">Issues</th>
    </tr>
  </thead>
  <% issues_by_epic.each do |epic, issues| %>
  <tr>
    <td><%= epic.nil? ? 'None' : epic.display_name %></td>
    <td>
      <ul>
      <% issues.each do |issue| %>
        <li>
          <%= issue.display_name %>
        </li>
      <% end %>
      </ul>
    </td>
  </tr>
  <% end %>
</table>