<form id="sync-form" class="col s12">
  <div class="row">
    <div class="input-field col s6">
      <%= form_input(@credentials, :username) %>
    </div>
    <div class="input-field col s6">
      <%= form_input(@credentials, :password) %>
    </div>
  </div>
</form>
