<div id="sync-modal" class="modal">
  <div id="sync-content" class="modal-content">
    <h4>Sync from JIRA</h4>
    <% @credentials = Credentials.new unless @credentials %>
    <form id="sync-form" class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <%= form_input(@credentials, :username) %>
        </div>
        <div class="input-field col s6">
          <%= form_input(@credentials, :password, type: :password) %>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <a id="sync" href="#" class="waves-effect waves-green btn-flat">
      Sync
    </a>
  </div>
</div>