<% chart_id = generate_id %>

<script>
  (function() {
    var chart = new ChartBuilder('<%= chart_id %>')
        .chartOpts({
          title: 'Created Issues By Month',
          isStacked: true
        })
        .url('<%= board_api_path(@board) %>/created_summary_by_month.json')
        .chartType('ColumnChart')
        .build();

    google.charts.setOnLoadCallback(chart.refresh);
    $('#ct-states input, #ct-states textarea').change(chart.refresh);
  })();
</script>

<div id="<%= chart_id %>">
</div>
