<% chart_id = generate_id %>

<script>
  stackedColumnChart({
    id: '<%= chart_id %>',
    title: 'Count By Month',
    url: '<%= board_api_path(@domain, @board) %>/count_summary_by_month.json'
  });
</script>

<div id="<%= chart_id %>">
</div>
