<form id="config-form">
  <div class="input-field">
    <textarea id="domain_config" name="domain[config]" class="materialize-textarea"><%= @domain.config %></textarea>
    <label for="domain_config">Config (YAML)</label>
  </div>
</form>
