table.team-dashboard td.highlight, table.team-dashboard th.highlight {
  background-color: #F6F6F6;
}

.issue-transitions {
  .red {
    background-color: #ffcdd2 !important;
  }

  .orange {
    background-color: #ffe0b2 !important;
  }

  .green {
    background-color: #c8e6c9 !important;
  }

  .blue {
    background-color: #bbdefb !important;
  }
}

.issue-fields {
  td:first-of-type {
    width: 130px;
    font-weight: bold;
    text-align: right;
    color: rgba(0, 0, 0, 0.6);
  }
}
