table.jira-tree .indent {
  width: 50px;
}

table.jira-tree .delivery {
  font-weight: bold;
}

table.jira-tree .epic td {
  font-weight: bold;
}

table.jira-tree .epic td:first-child {
  padding-left: 50px;
}

table.jira-tree .story td:first-child {
  padding-left: 90px;
}

table.jira-tree .effort-stats {
  width: 5%;
}
