body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

.left.floated {
  float: left;
}

.right.floated {
  float: right;
}

.mono {
  font-family: "Monaco", "Inconsolata", "Consolas", monospace;
}

.inline.sub.header {
  display: inline-block !important;
  font-size: 100% !important;
}

.hidden {
  display: none;
}

.clearfix {
  clear: both;
}

.issue-header {
  display: flex;

  .header {
    flex-grow: 1;
  }

  a {
    flex-shrink: 0;
  }
}