.epic-kanban, #aging-wip-chart {
  .column {
    h3 {
      margin-top: 1rem;
      margin-bottom: 1rem;
    }
    &.invalid_wip {
      background-color: #fff6f6;
      h3 {
        color: #9f3a38;
      }
      box-shadow: 0px 0px 0px 1px #e0b4b4 inset, 0px 0px 0px 0px rgba(0, 0, 0, 0);
      border-radius: 0.28571429rem;
    }
  }

  .ui.card {
    margin: 0.5em 0;
    .content {
      padding: 0.5em 0.7em;
      font-size: 95%;
    }
  }

  .mini.statistics {
    .label {
      font-size: 0.85em;
    }
  }

  .ui.progress {
    margin: 4px 0 8px 0;

    .bar {
      height: 1.3em;

      .progress {
        font-size: 0.8em;
      }
    }
  }

  div.google-visualization-tooltip {
    width: auto;
    height: auto;
    background-color: inherit;
    border: none;
  }
}

