<form id="config-form">
  <div class="input-field">
    <textarea id="board_config" name="board[config]" class="materialize-textarea"><%= @board.config %></textarea>
    <label for="board_config">Config (YAML)</label>
  </div>
</form>
