<h1><%= name %></h1>

<table>
  <thead>
    <td></td>
    <td>
      Cycle Times
    </td>
  </thead>
  <tr>
    <td>Mean</td>
    <td><%= pretty_print_number(mean_cycle_time) %></td>
  </tr>
</table>