<head>
  <!--Import Google Icon Font-->
  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <!--Import materialize.css-->
  <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css" media="screen,projection"/>

  <!-- Compiled and minified JavaScript -->
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>

  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>

  <nav>
    <div class="nav-wrapper container">
      <a href="#!" class="brand-logo"><%= @board.name %></a>

      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li class="active"><a href="#!">Summary</a></li>
        <li><a href="<%= board_issues_url(@board) %>">All Issues</a></li>
      </ul>
    </div>
  </nav>

  <div class="container">
    <%= print_table(@board.summary_table) %>
    <a href="<%= board_issues_url(@board) %>" class="waves-effect waves-light btn">
      <i class="material-icons left">view_list</i>View Issues
    </a>

    <div class="fixed-action-btn toolbar">
      <a class="btn-floating btn-large red">
        <i class="large material-icons">mode_edit</i>
      </a>
      <ul>
        <li class="waves-effect waves-light"><a href="#!"><i class="material-icons">insert_chart</i></a></li>
        <li class="waves-effect waves-light"><a href="#!"><i class="material-icons">format_quote</i></a></li>
        <li class="waves-effect waves-light"><a href="#!"><i class="material-icons">publish</i></a></li>
        <li class="waves-effect waves-light"><a href="#!"><i class="material-icons">attach_file</i></a></li>
      </ul>
    </div>
  </div>
</body>