<table class="striped">
  <thead>
    <% headers.each do |header_row| %>
      <tr>
        <% header_row.each do |h| %>
          <th><%= h %></th>
        <% end %>
      </tr>
    <% end %>
  </thead>
  <% rows.each do |row| %>
    <tr>
      <% row.each do |s| %>
        <td><%= s %></td>
      <% end %>
    </tr>
  <% end %>
</table>